<html>
<body>

<div id="MainWindow" class="index">
    <div id="UserList">
        <h2 onclick='JavaScript:reset();'>USERS</h2>
    </div>
    <section id="The-Msg">
        <header id="Top-Bar">
            <center>
                <h1>Messages</h1>
            </center>
        </header>

        <ul id="conversation">
        </ul>
        <br>
        <footer>
            <center>
                <input id="msg" type="text" placeholder="Enter Message" name="MsgS">
                <input id="sendName" type="text" placeholder="Enter User" name="NmeS">
                <button id="sendMessage">Send</button>
            </center>
        </footer>
    </section>

</body>
</html>