<style>
    #messages {
     width:350px;
     float:left;
     padding:10px;
    }

    #msg {
      float:bottom;
    }

    #The-Msg {
      display: true;
      padding:10px;
      background-color:#e6f7ff;
      top: 50%;
      left: 50%;
      overflow-y: scroll;
      line-height:20px;
      height:325px;
    }

    #Broadcast {
      display: true;
      padding:10px;
      background-color:#e6f7ff;
      top: 50%;
      left: 50%;
      overflow-y: scroll;
      line-height:20px;
      height:325px;
    }

    #MainWindow {
     display: none;
    }

    #LoginScreen {
      text-align:center;
      padding:30px;
      background-color:#33ccff;

      color: white;
    }

    #Header {
        background-color:#0066ff;
        color:white;
        text-align:center;
        padding:10px;
    }

    #UserList {
        line-height:20px;
        background-color:#00ffff;
        height:80vh;
        max-width:20vw;
        width:10vw;
        float:left;
        padding:10px;
        overflow-y: scroll;
    }


</style>